section {
    height: 100vh;
}

header {
    height: 100px;
}

.logo{
    max-width: 100px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

section {
    padding: 7%;
}
.carousel-inner {
    text-align: center;
}
.carousel-item img {
    display: inline-block;
    margin: 0 auto;
    width: 90%;
    max-width: 200px;
}
.carousel-control-prev, .carousel-control-next {
    top: 50%;
    transform: translateY(-50%);
    width: 400px;
    height: 300px;
}

.seccion1{
    background-color: lightskyblue;
}

.seccion2{
    background-color: yellow;
}
.seccion3{
    background-color: purple;
}

