
body, ul {
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 60px;
    position: fixed;
    top: 0;
    z-index:999;
    width: 100%;
}

.logo img {
    max-width: 100px;
}

.menu2 {
    list-style: none;
    display: flex;
    margin-top: 10px;
}

.menu2 li {
    margin-right: 20px;
    margin-left:20px;
    border-left: 2px solid chartreuse;
    padding-left:15px;

}

.menu2 a {
    text-decoration: none;
    color: red;
    font-weight: bold;
    transition: color 0.3s ease;
}

.menu2 a:hover {
    color: #ff9900;
}
#seccion1{
    background-color: #0a53be;
}
#seccion2{
    background-color: #0f5132;
}
#seccion3{
    background-color: red;
}
.seccion{
    height: 100vh;
    text-align: center;
    padding: 20px
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    margin-top: 60px
}
.menu{
    list-style: none;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding:10px 0;
    padding-right: 3%;

}
.menu li{
    margin: 0 15px;

}
.menu a{
    text-decoration:none;
    color:skyblue;
    font-weight: bold;
    transition:color 0.3s ease;
}
.menu a:hover{
    color: gold;
}
h1{
    padding-top: 50px;
}
